:root{
    --color1: #07080a;
    --color2: #3d3e50;
    --color3: #1b2f3e;
    --color4: #66798b;
    --color5:#dae1e3;

}
body{
    margin: 0px;
    background-color: var(--color3);
    font-family: 'Noto Sans', sans-serif;
}

.main{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background-color: var(--color5);
    height: 51em;
}

header{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px 20px;
    height: 140px;
    color: var(--color3);
    background-color: var(--color5);
    justify-content: center;
}

img{
    display: none;
    max-width: 350px;
    height: 350px;
}

.searchDiv{
    display: flex;
    justify-content: center;
    height: 50px;
    order:2;
    width: 100%;
}

#searchCity{
    width: 300px;
    height: 50px;
    padding: 12px 10px;
    margin: 0px 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.searchButton{
    width: 150px;
    height: 50px;
    background-color: var(--color3);
    border: 0px;
    color: var(--color5);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 7px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;
}

.searchButton:hover {
    background-color: var(--color5); 
    color: var(--color3); 
    border: 2px solid var(--color3);
  }
  

.imgDiv{
    display: flex;
    width: 30%;
    order:4;
    justify-content: center;
}

.divPanel{
    display: flex;
    width: 30%;
    order: 3;
    justify-content: center;
}

.panel{
    display: none;
    background-color: var(--color3);
    color: var(--color5);
    width: 250px;
    height: 450px;
    border-radius: 5px;
}

h2{
    margin: 20px 10px 5px 10px;
}


h1 {
    color: var(--color3);
}
  
.divError{
  display: none;
  justify-content: center;
  background-color: var(--color5);
  order: 1;
  width: 100%;
  height: 50px;
}

.pError{
  margin: 0px;
  color: brown;
}

/* The switch - the box around the slider */
.switch {
    margin: 10px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color5);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--color1);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--color1);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.pTemperature{
  margin: 0px 10px 30px 10px;
}

@media only screen and (max-width: 1000px) {
    
    .main{
      height: auto;
    }
    .divPanel{
      width: 100%;
      margin: 10px;
    }

    .imgDiv{
      margin: 10px;
    }
    
}
